.app {
  text-align: center;
  font-size: 17px;
  background-color: beige;
  margin-top: 2%;
}

body {
  background-color: darkred;
  height: 100%;
}

.button {
  background-color: rgb(160, 99, 179);
  color: rgb(255, 255, 255);
  font-size: medium;
  border-radius: 4px;
}

h1 {
  font-style: oblique;
  text-decoration: underline;
}

li {
  list-style: none;
}

.follow {
  bottom: 8%;
  position: sticky;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 90%;
  background-color: dimgrey;
  color: aliceblue;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar li {
  background-color: blueviolet;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.left {
  left: 0.5%;
}

.right {
  right: 0.5%;
}

.target-fire-tool {
  border-style: ridge;
  border-color: darkmagenta;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  width: 57.75%;
  position: relative;
  left: 20%;
  padding-bottom: 2.6%;
  height: 100%;
}

.tool-component {
  padding: 2%;
  border-color: black;
  border-width: 4px;
  border-style: double;
  margin: auto;
  width: 90%;
}

.new-combat-round {
  border-style: dashed;
  border-bottom-style: none;
  border-width: 3px;
  border-color: black;
}

.end-combat-round {
  border-style: dashed;
  border-top-style: none;
  border-width: 3px;
  border-color: black;
}
